<div class="container text-center">
    <div class="col-md-6 col-md-offset-3" style="margin-top: 20px;">
        <div class="panel panel-default" ng-app="myApp.view1" ng-controller="View1Ctrl">
            <div class="panel-heading text-center">
                <h3 class="panel-title">Калькулятор</h3>
            </div>
            <div class="panel-body">
                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="A">A</label>
                    <div class="input-group">
                        <span class="input-group-addon">A</span>
                        <input type="number" ng-model="a" class="form-control" id="A" placeholder="A">
                    </div>
                </div>
                <div class="form-group has-success has-feedback">
                    <label class="control-label sr-only" for="B">B</label>
                    <div class="input-group">
                        <span class="input-group-addon">B</span>
                        <input type="number" ng-model="b" class="form-control" id="B" placeholder="B">
                    </div>
                </div>
            </div>
            <div class="panel-footer text-center">
                <div class="btn-group">
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="operator = 'KVA'" btn-radio="'Radio1'">Квадрат А</label>
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="operator = 'KRA'" btn-radio="'Radio2'">Корень А</label>
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="operator = 'KVAB'" btn-radio="'Radio3'">Разность квадратов A и B</label>
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="operator = 'A+B'" btn-radio="'Radio4'">A + B</label>
                    <label class="btn btn-primary" ng-model="radioModel" ng-click="operator = 'A*B'" btn-radio="'Radio5'">A х B</label>
                </div>
                <h2><p class="bg-success" style="margin-top: 20px;">{{ result() }}</p></h2>
            </div>
        </div>
    </div>
</div>